html {
    height: 100%;
}

.full-height {
    height:100%;
}

/* Login and Landing page CSS */

.login-page {

}

.landing-page {
    background-color: #008c95;
    color: white;
}

.logo {
    height: 100px;
    width: 100px;
    padding: 10px;
}

header {
    height: 30%;
}

footer {
    height: 20%;
}

.login-container {
    height: 50%;
}

/* Dashboard page CSS */

.dashboard-header {
    height: auto;
}

.dashboard-body {
    /*background-color: ;*/
}

.dashboard-body-tag {
    /*background-color: #E0F2F1;*/
}

#listpage {
    /*display: none;*/
}

#addpage {

}